/* flipcard.css */
.flip-container {
  perspective: 1000px;
  width: 100%;
  max-width: 560px;
  height: 340px;
}

.flipper {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.flipper .front,
.flipper .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flipper .back {
  transform: rotateY(180deg);
}
