@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-menu .ant-menu-item {
  margin: 4px 4px !important;
  border-radius: 12px !important;
  transition: all 0.3s ease !important;
}

.custom-menu .ant-menu-item:hover {
  background-color: #f0f7ff !important;
  color: #1890ff !important;
}

.custom-menu .ant-menu-item-selected {
  background-color: #e6f4ff !important;
  color: #1890ff !important;
  font-weight: 500 !important;
}

.custom-menu .ant-menu-item .anticon {
  font-size: 20px !important;
  transition: all 0.3s ease !important;
}

.custom-menu .ant-menu-item:hover .anticon {
  transform: scale(1.1);
}

.custom-menu .ant-menu-item-selected .anticon {
  color: #1890ff !important;
}

.ant-menu-item:hover {
  color: white !important;
}

.ant-menu-item-selected {
  display: flex !important;
  margin: auto !important;
  height: 100% !important;

}